/* menu font */
@font-face {
    font-family: "AlteHaasGroteskBold";
    src: url("../font/AlteHaasGroteskBold.ttf") format("truetype");
}
/* ENG font */
@font-face {
    font-family: 'LiberationSans-Bold';
    src: url('../font/en/LiberationSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'LiberationSans-BoldItalic';
    src: url('../font/en/LiberationSans-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'LiberationSans-Italic';
    src: url('../font/en/LiberationSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'LiberationSans-Regular';
    src: url('../font/en/LiberationSans-Regular.ttf') format('truetype');
}
/* KOR font */
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../font/ko/NanumBarunGothic.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url('../font/ko/NanumBarunGothicBold.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothicLight';
    src: url('../font/ko/NanumBarunGothicLight.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothicUltraLight';
    src: url('../font/ko/NanumBarunGothicUltraLight.ttf') format('truetype');
}

/* body */
body {
    background-color: #c9c9c9;
}

/* responsive-container */
#responsive-container {
    display: none;
}

/* footer */
#footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
}
.copyright {
    margin: 30px 0 10px 0;
    font-family: 'LiberationSans-Bold';
    font-size: 20px;
    font-weight: bold;
}
.info1-ko, .info2-ko {
    margin-bottom: 5px;
    display: inline;
    font-size: 16px;
    font-family: 'NanumBarunGothicLight';
}
.info1-en, .info2-en {
    margin-bottom: 5px;
    display: inline;
    font-size: 16px;
    font-family: 'LiberationSans-Regular';
}
.bar {
    color: rgb(155, 152, 152);
}

/* 반응형 */
@media screen and (max-width: 1024px) {
    /* responsive-container */
    #responsive-container {
        display: block;
        position: relative;
    }
    #responsive-background {
        display: none;
        z-index: 1;
    }
    #responsive-background.active-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(61, 68, 88, .9);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color 1s;
    }
    .lang-container {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        right: 20px;
        width: 170px;
    }
    #responsive-menu-container {
        display: flex;
        flex-direction: column;
        font-family: 'LiberationSans-Bold';
        font-size: 50px;
        font-weight: bold;
        gap: 30px;
    }
    #responsive-menu-container > a {
        text-decoration: none;
        color: black;
        transition: color ease-in-out 1s;
    }
    #responsive-menu-container > a:hover {
        color: rgb(233, 218, 14);
    }
    #responsive-menu-container > a:active {
        transform: scale(0.9);
    }
    
    /* footer */
    .copyright {
        font-size: 2.0vw;
    }
    .info1-ko, .info2-ko {
        font-size: 1.7vw;
    }
    .info1-en, .info2-en {
        font-size: 1.7vw;
    }
}