/* html */
html {
    scroll-behavior: smooth;
}
/* main */
.contents-detail-area {
    display: flex;
    flex-direction: column;
}
.detail1 {
    margin: 150px 0;
    padding: 0 150px;
    font-family: 'NanumBarunGothic';
    font-size: 20px;
    line-height: 23px;
}
.detail2 {
    padding: 0 150px;
}
.detail2 > p {
    margin: 50px 0 20px 0;
    font-family: 'NanumBarunGothicBold';
    font-size: 30px;
    font-weight: bold;
    color: #0e066a;
}
.sub-detail2 {
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
}
.sub-detail2 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sub-detail2-name {
    margin: 20px 0;
    font-family: 'NanumBarunGothicBold';
    font-size: 27px;
    font-weight: bold;
}
.sub-detail2-txt {
    font-family: 'NanumBarunGothic';
    font-size: 20px;
}

/* 반응형 */
@media screen and (max-width: 1024px) {
    /* main */
    .detail1 {
        margin: 25px 0;
        padding: 0 25px;
    }
    .detail2 {
        padding: 0 25px;
    }
    .detail2 > p {
        margin: 50px 0 100px 0;
        text-align: center;
    }
    .sub-detail2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sub-detail2 > video {
        width: 80%;
    }
    .sub-detail2-txt {
        line-height: 30px;
    }
}